@model Cars.Models.Cars.CarCreateUpdateViewModel
<h1>Update car</h1>
<div>
    <hr />
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="ModifiedAt" type="hidden" />
        <div class="form-group row">
            <label asp-for="Make" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Make" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Model" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Model" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Year" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Year" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Price" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Price" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Mileage" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Mileage" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Fuel" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Fuel" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Color" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Color" class="form-control" />
            </div>
        </div>
        <input asp-action="Update" asp-controller="cars" type="submit" class="btn btn-primary" value="Update" />
    </form>
</div>